.displayAndCopy{
    width: 100vw;
    display: flex;
}
.password{
    width: 80%;
    height: 40px;
    margin: 5px;
}
.copyButton{
    width: 15%;
    height: 40px;
    margin: 5px;

}
.copyButton button{
    height: 100%;

}
.titleAndLength{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choices{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.generatePassword{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 100vw;
    background-color: blue;
    color: white;
    font-size: 20px;
    margin:20px;
    height: 60px;
}